{{#each clients}}
    <div class="client_information">
        <div id="position" class="position">
            <span class="position_name">{{position}}.</span>
        </div>
        <div id="client{{id}}" class="client">
            <div id="photo_rate" class="photo_rate">
                <div class="code">{{code}}</div>
            </div>

            <span class="name">{{name}}</span>
            <span class="experience">{{experience}}</span>

            </div>
        </div>
    </div>
{{/each}}