<div class="filter-categories">
    {{#each categories}}
        <div id="{{name}}" class="category {{name}}" onclick="setCategory('{{name}}')">
            {{title}}
        </div>
    {{/each}}
</div>
<hr>
<div class="filter-difficulties">
    {{#each difficulties}}
        <div id="{{name}}" class="category {{name}}" onclick="setDifficulty('{{name}}')">
            {{title}}
        </div>
    {{/each}}
</div>
<div class="button_search search" onclick="search()">
    <span>Поиск</span>
</div>