{{#each quests}}
    <div id="quest{{id}}" class="quest" onclick="startGame({{id}})">
        <div class="quest-categories">
            {{#each categories}}
                <div class="small-category {{name}}">
                    {{title}}
                </div>
            {{/each}}
        </div>
        <hr>
        <div class="quest-difficulties">
            <div class="small-category {{difficulty.name}}">
                {{difficulty.title}}
            </div>
        </div>
        <hr>
        {{name}}
        <hr>
        {{description}}
    </div>
{{/each}}