{{#each quests}}
    <div id="quest{{id}}" class="quest">
        <div class="categories">
            {{#each categories}}
                <div class="category small-category {{name}}">
                    <span class="text">{{title}}</span>
                </div>
            {{/each}}
        </div>
        <hr>
        <div class="categories">
            <div class="category {{difficulty.name}}">
                {{difficulty.title}}
            </div>
        </div>
        <hr>
        {{name}}
        <hr>
        {{description}}
    </div>
{{/each}}