<div class="gamer">
    <br>
    Enemy:
    current warrior: {{currentWarrior.id}}
    {{#each anotherClient.hero.warriors}}
        <div id="{{id}}" class="warrior {{#if_eq ../currentWarrior.id this.id}} currentWarrior {{/if_eq}}"
             onclick="defaultAttack({{id}})">
            {{name}}<br>
            {{warriorCharacteristics.health}}<br>
        </div>
    {{/each}}
</div>
<div class="gamer">
    <br>
    You:
    {{#each me.hero.warriors}}
        <div id="{{id}}" class="warrior {{#if_eq ../currentWarrior.id this.id}} currentWarrior {{/if_eq}}"
             onclick="defaultAttack({{id}})">
            {{name}}<br>
            {{warriorCharacteristics.health}}<br>
        </div>
    {{/each}}
</div>

<button onclick="defense()">Защита</button><br><br>
<button onclick="surrendered()">Сдаться</button>

