<div class="answers" id="answers">
    {{#each step.answers}}
        <div id = "answer{{id}}" class="answer" onclick="nextStep({{../id}}, {{id}}, {{nextStep}}, {{winning}})">
            {{description}}
        </div>
    {{/each}}
</div>