<div id="warrior_{{warrior.id}}" class="warrior {{#if_eq currentWarrior true}} currentWarrior {{/if_eq}}">
    <div class="spell-exhortations">
        {{#each warrior.spellExhortations}}
            <div class="spell-exhortation">
                <button onclick="setSpellExhortation({{id}}, event)">{{name}}</button>
            </div>
        {{/each}}
    </div>

    <div class="spell-attacks">
        {{#each warrior.spellAttacks}}
            <div class="spell-attack">
                <button onclick="setSpellAttack({{id}}, event)">{{name}}</button>
            </div>
        {{/each}}
    </div>

    <div class="spell-attacks">
        {{#each warrior.spellHeals}}
            <div class="spell-heal">
                <button onclick="setSpellHeal({{id}}, event)">{{name}}</button>
            </div>
        {{/each}}
    </div>
    <div class="attack_and_defense">
        <div class="attack">АТК {{warrior.warriorCharacteristics.attack}}</div>
        <div class="defense">ЗЩТ {{warrior.warriorCharacteristics.physicalDefense}}</div>
    </div>
    <img src="/img/{{warrior.pictureName}}" alt="Archer">
    <span class="health">
        {{warrior.warriorCharacteristics.health}}
    </span>

</div>
