<div class="profile">
    <div id="page_photo" class="page_photo">
        <div id="photo_profile" class="photo_profile">
        </div>
        <label for="file" class="button_photo">
            <span class="text_photo">Изменить аватар</span>
        </label>
        <input id="file" type="file" class="hide"/>
    </div>
    <div class="profile_information">
        <div class="table">
            <div class="row">
                <div class="cell">
                    Имя:
                </div>
                <div class="cell name">
                    {{name}}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Уровеь:
                </div>
                <div class="cell">
                    {{level}}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Опыт:
                </div>
                <div class="cell">
                    {{experience}}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Пройдено квестов:
                </div>
                <div class="cell">
                    {{completed}} / {{quests}}
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="active_game_text">-->
    <!--<span>Незавершенные игры</span>-->
<!--</div>-->
<div class="quests_profile">
    {{#each activeGames}}
        <div id="{{id}}" class="quest {{#if quest.passed}}passed{{else}}not_passed{{/if}}" onclick="activeGame({{id}})">
            <div class="quest-categories">
                {{#each quest.categories}}
                    <div class="small-category {{name}}">
                        {{title}}
                    </div>
                {{/each}}
            </div>
            <hr>
            <div class="quest-difficulties">
                <div class="small-category {{quest.difficulty.name}}">
                    {{quest.difficulty.title}}
                </div>
            </div>
            <hr>
            {{quest.name}}
            <hr>
            {{quest.description}}
            <hr>
            {{step.description}}
        </div>
    {{/each}}
</div>

<div id="help" class="help">
    <div id="message" class="message">
        <div>
            Размер файла не должен превышать 5 мегабайт!
        </div>
        <div class="button" onclick="hideHelp()">
            Хорошо
        </div>
    </div>
</div>